<h2 i18n="dashboard">Nextcloud dashboard</h2>

<div id="loader" class="spinner spinner-lg"></div>
<div class="content">
  <div class="stats-container card-pf-utilization-details">
    <span class="card-pf-utilization-card-details-count" id="stats-version"
      >0</span
    >
    <span class="card-pf-utilization-card-details-description">
      <span
        class="card-pf-utilization-card-details-line-2 stats-text"
        i18n="version"
      ></span>
    </span>
  </div>
  <a
    id="link"
    target="_blank"
    href=""
    class="btn btn-primary btn-lg open-app"
    i18n="open_app"
  ></a>
</div>

<div class="content">
  <div class="stats-container card-pf-utilization-details">
    <span class="card-pf-utilization-card-details-count" id="stats-users"
      >0</span
    >
    <span class="card-pf-utilization-card-details-description">
      <span
        class="card-pf-utilization-card-details-line-2 stats-text"
        i18n="users"
      ></span>
    </span>
  </div>
</div>

<div id="password-warn">
  <h3 i18n="admin-password"></h3>
  <div class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    <strong i18n="warning"></strong>. <span i18n="warning-password"></span>
  </div>
</div>

<script>
  $("[i18n]").each(function() {
    $(this).text(_($(this).attr("i18n")));
  });

  $("#loader").show();
  $(".content").hide();
  $("#password-warn").hide();

  // get stats
  nethserver.exec(
    ["nethserver-nextcloud/read"],
    { action: "configuration" },
    null,
    function(success) {
      try {
        success = JSON.parse(success);

        var status = success.status;
        for (var s in status) {
          $("#stats-" + s).text(status[s] || 0);
        }

        $("#link").attr(
          "href",
          success.props.VirtualHost == ""
            ? "https://" + window.location.hostname + "/nextcloud"
            : "https://" + success.props.VirtualHost
        );

        $("#stats-version").text(success.stats.version);
        $("#stats-users").text(humanFormat(success.stats.users));
        $("#stats-users").attr('title', success.stats.users);
        if (success.stats.admin_pass_warn) {
          $("#password-warn").show();
        }

        $("#loader").hide();
        $(".content").show();
      } catch (e) {
        console.error(e);
        $("#loader").hide();
        $(".content").show();
      }
    },
    function(error) {
      console.error(error);
    }
  );
</script>
